body {
  padding-top: 160px;

  .navbar {
    .navbar-header {
      .navbar-brand {
        float: none;
        img {
          margin: 8px 0px;
          border-radius: 9999px;
          border: 6px solid lightseagreen;
          max-height: 70px;
        }
      }
    }
    .navbar-nav {
      margin-top: 16px;
      li {
        padding: 0px 3px;
      }
    }
  }

}
