<ul class="nav navbar-nav navbar-right">
  <li>
    <div class="btn-group" dropdown>
      <button id="user-menu" type="button" class="btn btn-primary dropdown-toggle navbar-btn">
        <div class="user-image" style="background-image: url('http://robohash.org/{{user.uuid}}')"></div>
        <div class="btn-content">
          {{user.uuid}} <span class="caret"></span>
        </div>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="" ng-click="nav('/conversations')"><span class="glyphicon glyphicon-inbox"></span> Conversations</a></li>
        <li><a href="" ng-click="nav('/settings')"><span class="glyphicon glyphicon-wrench"></span> Settings</a></li>
        <li class="divider"></li>
        <li><a href="" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
      </ul>
    </div>

  </li>
</ul>
